@tailwind base;
@tailwind components;
@tailwind utilities;

.card-background {
  position: relative;
  background-image: url("https://t3.ftcdn.net/jpg/05/66/70/78/360_F_566707849_sGmmF1lxXdL6p7BC0hoQtQeIqX8Bxtsa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 0;
}

.card-content {
  position: relative;
  z-index: 1;
}

.card-background:hover {
  transform: scale(1.05);
}

.logo {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 65px;
  height: 65px;
}

@media (min-width: 1024px) {
  .logo {
    top: 5px;
    width: 100px;
    height: 100px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Star+Jedi&display=swap");

.star-wars-heading {
  font-family: "Star Jedi", sans-serif;
}
